{
    "presets": [
        ["@babel/preset-env", { "modules": "commonjs" }],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "babel-plugin-transform-es2015-modules-simple-commonjs"
    ]
}
